<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/arranger_style.css">
    	<script src="https://vuejs.org/js/vue.js" defer></script>
    	<script src="js/arranger.js" defer></script>
		<title>
			SpeedArranger
		</title>
	</head>
	<body>
		<main id="myID">
		<header>
		<div class="title">
			<h1>SpeedArranger</h1>	
			<h2>
				{{users}} registered users
			</h2>
		</div>
		</header>
		<br>
		<section class="menu">
			<form action="ongoing_event">
				<input class="menuButton" type="submit" value="Start event">
			</form>
		</section>
		</main>
	</body>
</html>