<html>
  <head>
    <title>Your matches</title>
    <meta charset="utf-8" />    
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/matches_vue.js" defer></script>
  </head>
  <body>
    <main id="main_box">
      <h1>Your matches</h1>
      <a href="/user_menu">
        <div id="back_button"></div>
      </a> 
      <div v-for="match in matches">
        <p>{{match.name}}</p>
      </div>
    </main>
    
  </body>
  <footer>
    
  </footer>
</html>
