<html>
  <head>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/arranger_style.css">
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="js/ongoing_event.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <title>
      SpeedArranger - Ongoing Event
    </title>
  </head>
  <body>
    <div id="ongoing_div">
      <header>
        <div class="title">
	        <h1>SpeedArranger</h1><div v-if="roundNumber <= 3">
            <h2>Round {{ roundNumber }}/3 </h2>
          </div>
          <div v-if="roundNumber > 3">
            <h2>All rounds finished </h2>
          </div>
        </div>
        <section class="menu" id="mainMenu" v-if="ongoingRound == false">
	        <a v-if="eventDone == false" v-on:click="startRound">
            <div class="menuButton" id="startRoundButton">
              <p>Start Round</p>
            </div>
          </a>
          
	        <a v-on:click="endEvent">
            <div class="menuButton">
              <p>End event</p>
            </div>
          </a>
        </section>
      </header>
      
      <main>
        <div id="tables_box" v-if="!ongoingRound && reviewDone == true && roundNumber <= 3">
          <div id="match_box" v-for="(pair,index) in pairs">
            <div v-bind:value="index" class="table_person_box" ondrop="ongoing_event.drop(event)" ondragover="ongoing_event.allowDrop(event)" id="male_table_box" >
              <span>
                <div v-if="selectedMan == pair.man" class="info_box">
                  <div id="close_button" v-on:click="deselectMan">
                    x
                  </div>
                  <div class="info_text">
                  <br>
                {{ pair.man.name }}
                {{ pair.man.age }}
                </div>
                </div>
                <img v-bind:value="index" v-on:click="selectMan(pair.man)" v-bind:src="pair.man.image" draggable="true"  ondragstart="ongoing_event.dragMan(event)" height="150" width="150">
               </span>
            </div>


            <div id="table" v-bind:value="index" draggable="true" ondragstart="ongoing_event.dragTable(event)">
              <div v-bind:value="index" ondrop="ongoing_event.drop(event)" ondragover="ongoing_event.allowDrop(event)" class="table_box">
                <p id="percentText">
                  {{pair.percentMatch}}%
                </p>
              </div>
            </div>
            
            <div v-bind:value="index" class="table_person_box" ondrop="ongoing_event.drop(event)" ondragover="ongoing_event.allowDrop(event)" id="female_table_box">
              <span>
                <div v-if="selectedWoman == pair.woman" class="info_box">
                  <div id="close_button" v-on:click="deselectWoman">
                    x
                  </div>
                  <div class="info_text">
                  <br>
                  {{ pair.woman.name }}
                  {{ pair.woman.age }}
                  </div>
                </div>
                <img v-bind:value="index" v-on:click="selectWoman(pair.woman)" v-bind:src="pair.woman.image" draggable="true"  ondragstart="ongoing_event.dragWoman(event)" height="150" width="150">
                </span>
            </div>
            </div>
        </div>
        <section class="menu" id="timer" v-if="ongoingRound==true">
	        <h1 v-if="ongoingRound == true">{{ time }}</h1>
        </section>
        <section class="menu" id="mainMenu" v-if="ongoingRound == true">
	        <input class="menuButton" type="submit" value="End round" v-on:click="endRound">
        </section>
        <br>
        <section class="menu" id="notifyMenu" v-if="roundNumber>1 && ongoingRound==false">
	        <div v-if="usersDone<users">
	          Waiting for reviews<br>
	          {{usersDone}}/{{users}} users done
	          <button class="menuButton" id="notifyButton" v-on:click="notifyUsers">Notify users</button>
	        </div>
	        <p v-if="usersDone==users">
	          Everyone is ready!
	        </p>
        </section>
      </main>
    </div>
  </body>
</html>
