<html>
  <head>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/arranger_style.css">
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="js/ongoing_event.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <title>
      SpeedArranger - Ongoing Event
    </title>
  </head>
  <body>
    <div id="ongoing_div">
      <header>
        <div class="title">
	        <h1>SpeedArranger</h1>
	        <h2>Round {{ roundNumber }}/3 </h2>
        </div>
        <section class="menu" id="mainMenu" v-if="ongoingRound == false">
	        <a v-if="eventDone == false" v-on:click="startRound">
            <div class="menuButton" id="startRoundButton">
              <p>Start Round</p>
            </div>
          </a>
          
	        <a v-on:click="showMatches" v-if="eventDone == false">
            <div class="menuButton">
              <p>Show Matches</p>
            </div>
          </a>
	        <a v-on:click="endEvent">
            <div class="menuButton">
              <p>End event</p>
            </div>
          </a>
        </section>
      </header>
      <main>
        <div id="tables_box">
          <div id="match_box" v-for="(pair,index) in pairs" >
            <div v-bind:value="index" class="table_person_box" ondrop="ongoing_event.drop(event)" ondragover="ongoing_event.allowDrop(event)" id="male_table_box" >
              <img v-bind:value="index" v-bind:src="pair.man.picture" width="100" height="100" draggable="true"  ondragstart="ongoing_event.dragMan(event)">
            </div>

            <div v-bind:value="index" ondrop="ongoing_event.drop(event)" ondragover="ongoing_event.allowDrop(event)" class="table_box">
              <img src="/img/table.png" height="100" width="100" v-bind:value="index" draggable="true"  ondragstart="ongoing_event.dragTable(event)">
            </div>
            
            <div v-bind:value="index" class="table_person_box" ondrop="ongoing_event.drop(event)" ondragover="ongoing_event.allowDrop(event)" id="female_table_box" >
              <img v-bind:value="index" v-bind:src="pair.woman.picture" width="100" height="100" draggable="true"  ondragstart="ongoing_event.dragWoman(event)">
            </div>
            </div>
        </div>
        <section class="menu" id="timer" v-if="ongoingRound==true">
	        <h1 v-if="ongoingRound == true">{{ time }}</h1>
        </section>
        <section class="menu" id="mainMenu" v-if="ongoingRound == true">
	        <input class="menuButton" type="submit" value="End round" v-on:click="endRound">
        </section>
        <br>
        <section class="menu" id="notifyMenu" v-if="roundNumber>1 && ongoingRound==false">
	        <div v-if="usersDone<users">
	          Waiting for reviews<br>
	          {{usersDone}}/{{users}} users done
	          <input class="menuButton" type="submit" id="notifyButton" value="Notify Users" v-on:click="notifyUsers">
	        </div>
	        <div v-if="usersDone==users">
	          Everyone is ready!
	        </div>
        </section>
      </main>
    </div>
  </body>
</html>
