<html>

<head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/profile_page.css">
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/profile_vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
</head>

<body>
    <main id="main_box">
        <h1>Create your profile</h1>
        <a v-on:click="goBack">
            <div id="back_button">
            </div>
        </a>
	<div v-if="profile.image == null">
          <div id="user_img"></div>
	</div>
	<div id="user_img_exists" v-if="profile.image != null">
	  <img v-bind:src="profile.image">
	</div>
        <section id="profile_info">
            <form id="profile_form">
                <h3>Your information</h3>
                <label>Select your gender</label><br>
                <input type="radio" id="gender" name="gender" v-model="profile.isMan" value="true">
                <label for="male">Man</label>
                <input type="radio" id="gender" name="gender" v-model="profile.isMan" value="false">
                <label for="female">Woman</label><br>

                <h3>Full name</h3>
                <input type="text" placeholder="Enter first- and Last name" required="required" v-model="profile.name" class="user_input"></input><br>
		<h3>Picture</h3>
                <input type="text" placeholder="Enter url to an image" required="required" v-model="profile.image" class="user_input"></input><br>
                <h3>City</h3>
                <input type="text" placeholder="Enter city" required="required" v-model="profile.city" class="user_input"></input><br>
                <h3>Age</h3>
                <input type="number" min="18" placeholder="Enter age" class="user_input" v-model="profile.age"></input><br>
                <h3>Email</h3>
                <input type="text" placeholder="Enter email" required="required" v-model="profile.mail" class="user_input"></input><br>
                <h3>Phone</h3>
                <input type="number" placeholder="Enter phone number" required="required" v-model="profile.phone" class="user_input"></input><br>
                <h4 id="questions">How much do you like to travel?</h4><br>
                <label class="range_indicator">1</label>
                <input type="range" min="1" max="5" v-model="profile.travel" class="user_input"></input>
                <label class="range_indicator">5</label><br>

                <h4 id="questions">How often do you train on a week?</h4><br>
                <label class="range_indicator">1</label>
                <input type="range" min="1" max="5" v-model="profile.workout" class="user_input"></input>
                <label class="range_indicator">5</label><br>

                <h4 id="questions">How often do you go out and eat on a week?</h4><br>
                <label class="range_indicator">1</label>
                <input type="range" min="1" max="5" v-model="profile.food" class="user_input"></input>
                <label class="range_indicator">5</label><br>
            </form>
            <label v-if="submitted == true">Your information was submitted</label><br>
            <button id="submit_button" v-on:click="test()">Submit info</button>
        </section>
    </main>-
</body>
<footer>

</footer>

</html>
