<html>
  <head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/profile_page.css">
  </head>
  <body>
    <main id="main_box">
      <h1>Create your profile</h1>
      <button id="back_button"></button>
      <div id="user_img"></div>
      <section id="profile_info">
        <form id="profile_form">
          <h3>Your information</h3>
          <label>Full name</label><br>
          <input type="text" placeholder="Enter fullname" class="user_input"></input><br>
          <label>Lorem ipsum</label><br>
          <input type="text" placeholder="Lorem ipsum" class="user_input"></input><br>
          <label>Lorem ipsum</label><br>
          <input type="text" placeholder="Lorem ipsum" class="user_input"></input><br>
          <label>Lorem ipsum</label><br>
          <input type="text" placeholder="Lorem ipsum" class="user_input"></input><br>
          <label>Lorem ipsum</label><br>
          <input type="text" placeholder="Lorem ipsum" class="user_input"></input><br>
          <label>Vad tycker du om husdjur?</label><br>
          <input type="range" min="1" max="100" value="50" class="user_input"></input>
        </form>
        <button id="submit_button">Submit info</button>
      </section>
    </main>
  </body>
  <footer>
    
  </footer>
</html>
