<html>

<head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/profile_page.css">
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/profile_vue.js" defer></script>
</head>

<body>
    <main id="main_box">
        <h1>Create your profile</h1>
        <a href="/user_menu">
            <div id="back_button">
            </div>
        </a>
        <div id="user_img"></div>
        <section id="profile_info">
            <form id="profile_form">
                <h3>Your information</h3>
                <label>Select your gender</label><br>
                <input type="radio" id="gender" name="gender">
                <label for="male">Man</label>
                <input type="radio" id="gender" name="gender">
                <label for="female">Woman</label><br>

                <label>Full name</label><br>
                <input type="text" placeholder="Enter first- and Last name" required="required" v-model="fullname" class="user_input"></input><br>
                <label>City</label><br>
                <input type="text" placeholder="Enter city" required="required" v-model="city" class="user_input"></input><br>
                <label>Age</label><br>
                <input type="number" min="18" placeholder="Enter age" class="user_input"></input><br>

                <label>Lorem ipsum</label><br>
                <label class="range_indicator">-</label>
                <input type="range" min="1" max="5" v-model="range1" class="user_input"></input>
                <label class="range_indicator">+</label><br>

                <label>Lorem ipsum</label><br>
                <label class="range_indicator">-</label>
                <input type="range" min="1" max="5" v-model="range2" class="user_input"></input>
                <label class="range_indicator">+</label><br>

                <label>Lorem ipsum</label><br>
                <label class="range_indicator">-</label>
                <input type="range" min="1" max="5" v-model="range3" class="user_input"></input>
                <label class="range_indicator">+</label><br>
            </form>
            <label v-if="submitted == true">Your information was submitted</label><br>
            <button id="submit_button" v-on:click="test()" href="/user_menu">Submit info</button>
        </section>
    </main>-
</body>
<footer>

</footer>

</html>