<html>

<head>
    <title>Question page</title>
    <meta charset="utf-8" />
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/question_page.css">
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/question_page_vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
</head>

<body>
    <main id="main_box">
        <section v-if="currentDate!=null">
        <h1>Question Page</h1>
        <div id="user_img">
            <img v-bind:src="currentDate.img">
        </div>
        <a href="#" v-if="questionNumber > 0" v-on:click="decrementNumber()">

            <div id="left_button">
            </div>
        </a>
        <a href="#" v-if="questionNumber < 4" v-on:click="incrementNumber()">
            <div id="right_button">
            </div>
        </a>
      
        <div id="overall" v-if="questionNumber == 0">
          <h2>Overall rating of date</h2>
          <label class="range_indicator">-</label>
          <input type="range" min="0" max="10" v-model="overallRating" class="user_input"></input>
          <label class="range_indicator">+</label><br>
        </div>
        
        <div id="question" v-if="questionNumber > 0 && questionNumber <= 3">
            <h2>Question {{questionNumber}}/3</h2>
            <p>{{questions[questionNumber-1]}}</p>
            <button id="q_yes" v-on:click="addAnswer('Yes')">Yes</button>
            <button id="q_no" v-on:click="addAnswer('No')">No</button><br>
        </div>
        
        <div id="confirm_page" v-if="questionNumber == 4">
            <h2>Answer confirmation</h2>
            <div class="list_box">
              <ul>
                <li>
                  Overall rating of date
                </li>
                <li v-for="question in questions">
                  {{question}}
                </li>
              </ul>
            </div>
            <div class="list_box">
              <ol id="answer_list">
                <li v-for="answer in answers">
                  {{answer}}
                </li>
              </ol>
            </div>
            <button class="q_button" v-on:click="submitAnswers">Confirm answers</button><br>
            <p v-if="questionsDone == false && triedSubmitting == true">You must answer all questions</p>
            <p v-if="questionsDone == true && triedSubmitting == true">All your answers are now confirmed!</p>
        </div>
        </section>
    </main>
</body>

<footer>

</footer>

</html>
