<html>
<head>
    <title>Rematching</title>
    <meta charset="utf-8" />
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="js/rematching.js" defer></script>
    <link rel="stylesheet" href="css/rematches.css" defer>
    <script src="/socket.io/socket.io.js" defer></script>
</head>

<body>
    <main id="main">
        <a href="matches">
            <div id="back_button">
            </div>
        </a>
        <p id="rubrik">Rematch</p>
        <hr>

        <div id="chosenGrid">
            <img id ="chosenPicture" v-bind:src="chosenPerson.image">
            <p id="chosenInfo">(Information will be displayed here.)</p>
            <button class="largeButton" id="leftButton" v-on:click="changePerson(false)">Previous person</button>
            <button class="largeButton" id="leftButton" v-on:click="changePerson(true)">Next person</button>
            <button class="largeButton" id="switchButton" v-on:click="changeGender">Swap</button>
            <p id="chosenName">{{chosenPerson.name}}</p>
        </div>
        <hr>
        <div id="allUnmatched">
            <div v-for="(person, key) in differentGender">
                <div class="singlePerson">
                    <img :src="person.image" class="Picture"></img>
                    <button class="matchButton" v-on:click="reMatch(key)">Match!</button>
                    <span class="nameLabel">{{person.name}}</span>
                </div>
            </div>
        </div>
    </main>
</body>
<footer>

</footer>

</html>
