<html>
<head>
    <title>Rematching</title>
    <meta charset="utf-8" />
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script src="js/rematching.js" defer></script>
    <link rel="stylesheet" href="css/rematches.css" defer>
    <script src="/socket.io/socket.io.js" defer></script>
</head>

<body>
    <main>
        <a href="matches">
            <div id="back_button">
            </div>
        </a>
        <p id="rubrik">Rematch</p>
        <hr>

        <div id="chosenGrid">
            <button id="leftButton"></button>
            <img :src="{{pairs[0].man.picture}}">
            <button id="leftButton"></button>
        </div>

        <div id="allUnmatched">
            <div v-for="pair in pairs">
                <div class="singlePair" v-on:click="selectPair(pair.index)"
                    v-bind:style="pair.selected ? 'filter: grayscale(100%);' : 'filter: grayscale(0%);'">
                    <img :src="pair.man.picture" class="manPic"></img>
                    <img :src="pair.woman.picture" class="womanPic"></img>
                    <span class="manName">{{pair.man.name}}</span>
                    <span class="womanName">{{pair.woman.name}}</span>
                </div>
            </div>
        </div>
    </main>
</body>
<footer>

</footer>

</html>