<html>

<head>
    <title>Share info with other users</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/show_info.css">
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/share_info_vue.js" defer></script>
</head>

<body>
    <main id="main_box">
        <h1>Share info</h1>
        <div id="user_img" v-if="questionNumber <= 3">
            <img v-bind:src="currentDate.image">
        </div>

        <a href="#" v-if="questionNumber > 1" v-on:click="decrementNumber()">
            <div id="left_button">
            </div>
        </a>
        <a href="#" v-if="questionNumber < 4" v-on:click="incrementNumber()">
            <div id="right_button">
            </div>
        </a>
        <div id="question" v-if="questionNumber <= 3">
            <h2>Question {{questionNumber}}/3</h2>
            <p>Would you like to share your contact information with {{dates[questionNumber-1].name}}?</p>
            <button id="q_yes" v-on:click="addAnswer('Yes')">Yes</button>
            <button id="q_no" v-on:click="addAnswer('No')">No</button><br>
        </div>
        <div id="confirm_page" v-if="questionNumber == 4">
            <h2>Answer confirmation</h2>
            <div class="list_box">
              <ul>
                <li v-for="date in dates">
                  {{date.name}}
                </li>
              </ul>
            </div>
            <div class="list_box">
              <ol id="answer_list">
                <li v-for="answer in answers">
                  {{answer}}
                </li>
              </ol>
            </div>
            <button class="q_button" v-on:click="submitAnswers">Confirm answers</button><br>
            <p v-if="questionsDone == false && triedSubmitting == true">You must answer all questions</p>
            <p v-if="questionsDone == true && triedSubmitting == true">All your answers are now confirmed!</p>
        </div>
    </main>
</body>

<footer>

</footer>

</html>
