<html>
  <head>
    <title>Menu</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/user_menu.css">
  </head>
  <body>
    <main id="main_box">
      <h1>Menu</h1>
      <div id="button_box">
        <a href="#">
          <div class="menu_buttons">
            <p>Ready up for event</p>
          </div>
        </a>
        <a href="/profile_page">
          <div class="menu_buttons">
            <p>Profile</p>
          </div>
        </a>
        <a href="#">
          <div class="menu_buttons">
            <p>All matches</p>
          </div>
        </a>
        
      </div>
    </main>
  </body>
  <footer>
    
  </footer>
</html>
