<html>
  <head>
    <title>Your matches</title>
    <meta charset="utf-8" />    
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/user_matches.css">
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/user_matches_vue.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
  </head>
  <body>
    <main id="main_box">
      <h1>Your matches</h1>
  
      <a v-on:click="goBack(true)" v-if="!showMatch">
        <div id="back_button"></div>
      </a>
      <a v-on:click="goBack(false)" v-if="showMatch">
        <div id="back_button"></div>
      </a>

      <div id="user_wrapper" v-if="!showMatch">
        <a id="user_link" v-for="match in matches" v-on:click="selectMatch(match)">
          <div id="user_box">
            <h2>{{ match.name }}</h2>
          </div>
        </a>
      </div>
      <div id="selected_match_box" v-if="showMatch">
        <h2>{{selectedProfile.name}}</h2>
        <img id="user_img" v-bind:src="selectedProfile.image"><img>
        
        <ul id="user_info">
          <li>
            Age: {{ selectedProfile.age }}
            </li>
          <li>
            Location: {{ selectedProfile.city }}
          </li>
          <li>
            <span>Email: </span>
            <input type="hidden" v-bind:value="selectedProfile.mail" readonly id="mail">{{ selectedProfile.mail }}</input>
            <button v-on:click="copyText('#mail')">Copy</button>
          </li>
          <li>
            <span>Phone: </span>
            <input type="hidden" v-bind:value="selectedProfile.phone" readonly id="phone">{{selectedProfile.phone}}</input>
            <button v-on:click="copyText('#phone')">Copy</button>
          </li>
        </ul>
      </div>
    </main>
    
  </body>
  <footer>
    
  </footer>
</html>
