body {
	  min-height: 100%;
	  background-color: #eeeeee;
	  color: #000;
}

header {
    background: #ff807a;
    width: 100%;
    margin: auto;
    height: 210px;
}

main {
	height: 100%;
}

.menu {
	height: auto;
	margin: auto;
  text-align: center;
}

#timer {
	margin: auto;
	text-align: center;
	font-size: 48pt;
} 

#notifyMenu {
	text-align: center;
}

#userPanel{
	text-align: center;
}

.menuButton {
	height: 70px;
	width: 33%;
  float: left;
	color: #000;
	margin-bottom: 10px;
	background: #ff807a;
  margin: auto;
}
.menuButton:hover {
	  background: #ee7068;
    cursor: pointer;
}
.menuButton p {
    margin-top: 30px;
}

.title {
	height: 100px;
	width: 100%;	
	margin-bottom: 35px;
	text-align: center;
}

.title h2 {
	font-style: italic;
}

.table_person_box {
    width: 150px;
    height: 150px;
    color: #000;
    border: 2px dashed;
}

#tables_box {
    margin-top: 100px;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#match_box {
    width: 20%;
    height: 150px;
    float: left;
    margin-bottom: 350px;
}
.table_box {
    width: 150px;
    height: 150px;
}

.info_box {
    height: 150px;
    width: 250px;
    position: absolute;
    margin-left: 160px;
    background: #ff807a;
}

.info_text{
    color: white;
    background: grey;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

#close_button {
    margin-left: 210px;
    width: 20px;
    height: 20px;
    background: #cccccc;
    text-align: center;
    box-shadow: 1px 1px #000;
    position: relative;
    border-radius: 4px;
}
#close_button:hover {
    cursor: pointer;
}
