body {
    background: #000000;
    font-family: Arial;
    height: 100%
}

#main_box {
    width: 480px;
    background: #eeeeee;
    margin: auto;
    min-height: 100%;
}

#main_box h1 {
    margin: auto;
    text-align: center;
}