body {
    background: #000000;
}
#main_box {
    width: 480px;
    height: 100%;
    background: #fff;
    margin: auto;
}
#main_box h1 {
    text-align: center;
}
#back_button {
    height: 50px;
    width: 50px;
}
#user_img {
    width: 200px;
    height: 300px;
    background: #6b6666;
    margin: auto;
}
#profile_info {
    margin-top: 100px;
    text-align: center;
}
#submit_button {
    height: 50px;
    width: 250px;
}
