#main_box {
    background: #ffffff;
}
#back_button {
  width: 20px; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-right:30px solid black;
  float: left;
}
#user_img {
    width: 200px;
    height: 300px;
    background: #6b6666;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#profile_info {
    margin-top: 90px;
    text-align: center;
}
#submit_button {
    height: 50px;
    width: 250px;
}
