#user_img {
    width: 200px;
    height: 300px;
    background: #6b6666;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#profile_info {
    margin-top: 90px;
    text-align: center;
}

.user_input {
    margin-bottom: 10px;
    width: 300px;
    height: 30px;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.range_indicator {
    font-size: 20pt;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
    width: 300px;
    height: 30px;
}

#submit_button {
    height: 50px;
    width: 250px;
    margin-bottom: 50px;
    background: #ff807a;
    color: #000;
}

#submit_button:hover {
    cursor: pointer;
    opacity: 0.5;
}
