#main_box {
    background: #ffffff;
}

#questions {
    margin-top: 100px;
    text-align: center;
}

#user_img {
    width: 200px;
    height: 300px;
    background: #6b6666;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#q_yes {
    height: 50px;
    width: 110px;
    margin-bottom: 50px;
}

#q_no {
    height: 50px;
    width: 110px;
    margin-bottom: 50px;
}

#left_button {
    width: 20px;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid black;
    float: left;
}

#right_button {
    width: 20px;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid black;
    float: right;
}

#previous_q {
    margin-left: 10px;
}

#next_q {
    margin-right: 10px;
    float: right;
}

#n_p_button {
    margin-top: 40px;
}