#chosenGrid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

#chosenPicture {
    height: 200px;
    width: 200px;
    margin: auto;
}

#rubrik {
    font-size: xx-large;
    text-align: center;
}

#back_button {
    position: fixed;
    width: 20px;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid black;
    float: left;
    margin-top: 10px;
}

#chosenName {
    margin: auto;
}

#allUnmatched {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.singlePerson {
    display: grid;
    border: #222222 solid;
    margin: 2px;
    background-color: lightsalmon;
    grid-template-rows: 100px 40px 70px;
}

.picture {
    height: 100px;
    padding: 5px;
    margin: auto;
}

.nameLabel {
    font-size: large;
    margin: auto;
}

.matchButton {
    font-size: large;
    margin: auto;
}

.matchButton:hover {
    cursor: pointer;
}

.largeButton {
    font-size: x-large;
    margin: auto;
}

#chosenInfo {
    border: #555555 dashed 1px;
    padding: 3px;
}