h2 {
    margin-top: 50px;
}

#user_img {
    width: 300px;
    height: 400px;
    background: #6b6666;
    margin-top: 30px;
    margin-left: 90px;
}

#user_img img {
    height: 100%;
    width: 100%;
}

#date_info {
    width: auto;
    margin-left: 20px;
}

#ok_button {
    background: #ff807a;
    height: 50px;
    width: 110px;
    margin: auto;
    cursor: pointer;
    margin-top: 100px;
    text-align: center;
}

#cm {
    margin-left: 150px;
}



#waitingForNext {
    width: auto;
    margin: auto;
    text-align: center;
}

#questions {
    margin-top: 100px;
    text-align: center;
}

#q_yes {
    height: 50px;
    width: 110px;
    margin-bottom: 50px;
    background: green;
    cursor: pointer;
}

#q_yes:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

#q_yes:hover {
    opacity: 0.5;
}

#q_no {
    height: 50px;
    width: 110px;
    margin-bottom: 50px;
    background: red;
    cursor: pointer;
}

#q_no:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

#q_no:hover {
    opacity: 0.5;
}

#button_box_left {
    float: left;
}

#button_box_left label {
    float: right;
    color: #000;
    text-decoration: none;
    margin: 10px 0 0 10px;
}

#left_button {
    width: 20px;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid black;
    float: left;
}

#left_button:hover {
    opacity: 0.5;
}

#button_box_right {
    float: right;
}

#button_box_right label {
    float: left;
    color: #000;
    text-decoration: none;
    margin: 10px 10px;
}

#right_button {
    width: 20px;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid black;
    float: right;
}

#right_button:hover {
    opacity: 0.5;
}

#previous_q {
    margin-left: 10px;
}

#next_q {
    margin-right: 10px;
    float: right;
}

#n_p_button {
    margin-top: 40px;
}

.q_button {
    background: #ff807a;
    height: 50px;
    width: 110px;
    cursor: pointer;
}

.q_button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.q_button:hover {
    opacity: 0.5;
}

#overall {
    width: 80%;
    height: 200px;
    margin: auto;
    text-align: center;
}

#question {
    width: 80%;
    height: 200px;
    margin: auto;
    text-align: center;
}

#answer {
    width: 80%;
    height: 200px;
    margin: auto;
    text-align: center;
}

#confirm_page {
    width: auto;
    margin: auto;
    margin-right: auto;
    text-align: center;
}

.list_box {
    width: 100%;
    text-align: initial;
}

#question_in_list {
    float: left;
    font-weight: bold;
}

#answer_in_list {
    margin-top: 5px;
    float: right;
}

.table_person_box {
    width: 150px;
    height: 150px;
    color: #000;
    border: 2px dashed;
}

.grid_container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 420px;
    margin: auto;
    margin-left: 10px;
   
}
.grid_container h2{
    float: left;
}

#table {
    width: 50px;
    height: 50px;
    /*background-color: #bbb;*/
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dateConfirmation {
    text-align: center;
    width: 480px;
    margin-bottom: 10px;
}

.info {
    margin-top: 10px;
}
